body{
    background-color:#000000 ;
}

canvas{
    height: 100%;
    width: 100%;
}
.sphere{
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.804), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spline{
    position: absolute;
}